:root {
    --cambridge-blue: #7C9B7B;
    --cambridge-blue-2: #8FAB8F;
    --anti-flash-white: #ECECEC;
    --silver: #C5C5C5;
    --ash-gray: #C5D2C5;
    --dark-gray: #333333;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--anti-flash-white); /* רקע לבן-אפור */
    color: var(--dark-gray);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: var(--cambridge-blue);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: var(--anti-flash-white); /* טקסט לבן */
    margin-bottom: 1.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--silver); /* גבול בצבע כסף */
    border-radius: 4px;
    background-color: var(--ash-gray); /* רקע אפור-בהיר */
    color: var(--dark-gray); /* טקסט כהה */
}

button {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--cambridge-blue-2); /* כפתור בצבע Cambridge Blue 2 */
    color: var(--anti-flash-white); /* טקסט לבן */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--cambridge-blue); /* כפתור בהיר יותר בהובר */
}

#loadingMessage {
    font-size: 24px;
    font-weight: bold;
    color: var(--anti-flash-white);
}
